
.body {
    display: flex;
    flex-direction: column;

    gap: 4px;
    margin-top: 12px;
}

.buttonGroup {
    display: flex;

    gap: 12px;
    margin-top: 8px;
}

.buttonGroup button {
    flex: 2;
}

.buttonGroup button:nth-child(2) {
    flex: 1;
}

.message {
    margin-top: 8px;

    color: #444;
    font-size: 0.9em;
}
