
.body {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.moveControls {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);
    justify-content: center;
    align-items: stretch;

    gap: 8px;
    margin-top: 12px;
}
